@import "tailwindcss";

:root {
     --main: #1b4967;
     --sec: #5fa8da;
     --bg: #d7e8f4;
     --tint: #0b1c28;
     --whity: #fafdff;
     --shadow: 4px 6px 0px var(--tint);
}

@theme {
     --color-bg: var(--bg);
     --color-main: var(--main);
     --color-sec: var(--sec);
     --color-tint: var(--tint);
     --color-whity: var(--whity);
     --color-brand-base: #8fc2e4;
     --color-border: var(--tint);
     --font-bagel: "Bagel Fat One", sans-serif;
     --font-dm: "DM Sans", sans-serif;
     --shadow-neo: var(--shadow);
}

@utility bg-blobs {
     background-image:
          radial-gradient(ellipse 400px 300px at 90% 10%, var(--sec) 0 5%, transparent 100%),
          radial-gradient(ellipse 400px 300px at 5% 90%, var(--bg) 0 5%, transparent 100%);
}

@utility bg-hatch-diagonal {
     background-image: repeating-linear-gradient(45deg, --alpha(var(--main) / 50%) 0 1px, transparent 1px 9px);
     mask-image: radial-gradient(ellipse at bottom left, #000 10%, transparent 70%);
}

@keyframes slideIn {
     from {
          transform: translateX(100%);
     }
     to {
          transform: translateX(0);
     }
}

.borderimage {
     border: 2px var(--main) solid;
     box-shadow: 4px 6px 0px var(--main);
}
