@import "tailwindcss";

:root {
     --main: #1b4967;
     --main-darker: #123146;
     --sec: #5fa8da;
     --sec-darker: #4982a8;
     --bg: #d7e8f4;
     --bg-darker: #c3d2dd;
     --tint: #0b1c28;
     --whity: #fafdff;
     --shadow: 4px 6px 0px var(--tint);
}

@theme {
     --color-bg: var(--bg);
     --color-darker: var(--bg-darker);
     --color-main: var(--main);
     --color-sec: var(--sec);
     --color-tint: var(--tint);
     --color-whity: var(--whity);
     --color-brand-base: #8fc2e4;
     --color-border: var(--tint);
     --font-bagel: "Bagel Fat One", sans-serif;
     --font-dm: "DM Sans", sans-serif;
     --shadow-neo: var(--shadow);
}

@utility bg-blobs {
     background-image:
          radial-gradient(ellipse 400px 300px at 90% 10%, var(--sec) 0 5%, transparent 100%),
          radial-gradient(ellipse 400px 300px at 5% 90%, var(--bg) 0 5%, transparent 100%);
}

@utility bg-hatch-diagonal {
     background-image: repeating-linear-gradient(45deg, --alpha(var(--main) / 50%) 0 1px, transparent 1px 9px);
     mask-image: radial-gradient(ellipse at bottom left, #000 10%, transparent 70%);
}

@keyframes slideIn {
     from {
          transform: translateX(100%);
     }
     to {
          transform: translateX(0);
     }
}

@keyframes clickAnim {
     0% {
          transform: translate(0, 0);
          box-shadow: 4px 6px 0px var(--main);
     }
     100% {
          transform: translate(2px, 3px);
          box-shadow: 2px 3px 0px var(--main);
     }
}

.borderimage {
     border: 2px var(--main) solid;
     box-shadow: 4px 6px 0px var(--main);
}
.clicanim {
     transition:
          transform 120ms ease-in-out,
          box-shadow 120ms ease-in-out;
}

.darkbgtransition:hover {
     background-color: var(--main-darker);
     animation: clickAnim 120ms ease-in forwards;
     transition: background-color 150ms ease-in-out;
}
.lightbgtransition:hover {
     background-color: var(--sec-darker);
     animation: clickAnim 120ms ease-in forwards;
     transition: all 2ms ease-in-out;
}
.xlightbgtransition:hover {
     background-color: var(--bg-darker);
     animation: clickAnim 120ms ease-in forwards;
     transition: all 2ms ease-in-out;
}

.whtransition:hover {
     background-color: #235033;
     animation: clickAnim 120ms ease-in forwards;
     transition: all 2ms ease-in-out;
}
